

/********* Tree ********/

.af-tree {
  height:auto;
  list-style:none ;
  display:block;
  padding-left:0px;
}

.af-tree li {
	line-height:26px;
}

.af-tree > li {
	list-style:none ;
}

.af-tree > li > ul{
	margin-left:48px;
}

.af-tree ul{
	margin-left:28px;
}

.af-tree .af-tree-expanded li{
	line-height:22px;
}

.af-tree > li > .af-tree-icon {
	width:15px;
	height:15px;
	margin-right:10px;
	margin-left:0px;
	margin-top:0px;
	display:inline-block;
	vertical-align: middle;
}

.af-tree .af-tree-icon{
	width:15px;
	height:15px;
	margin-right:5px;
	margin-left:-20px;
	margin-top:0px;
	display:inline-block;
	vertical-align: middle;
}

.af-tree .af-tree-expanded > .af-tree-icon{
	background: url('./images/icon_tree_expand.png') no-repeat center center;
}

.af-tree .af-tree-group {
	margin:15px 0 19px 0;
	list-style:none;
	padding-left:33px;
}

.af-tree .af-tree-link {
  height:24px;
  margin:3px 0;
  display:inline-block;
  width:auto;
  cursor:pointer;
  padding: 2px;
}

.af-tree .af-tree input[type="checkbox"]{
  margin:0 7px 0 0px ;
  vertical-align: middle;
}

.af-tree .af-tree-img{
  width:20px;
  height:20px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;

}

.af-tree .af-tree-label{
  display: inline-block;
  height:100%;
  vertical-align: middle;
  line-height: 20px;
  padding:0px 3px;
  cursor:pointer;
}
