.#{$datepicker} {
	width: $datepicker-width;
	padding: $datepicker-padding;
	font-size: $font-size-base;
	background: $datepicker-bg;
	border: $datepicker-style;
	@include border-radius($border-radius-base);
	@include box-shadow($datepicker-shadow);
}
.#{$datepicker} a {
	display:block;
	cursor: pointer;
	width:100%;
	height: $datepicker-cell-height;
	font-size: $font-size-base;
	line-height:$datepicker-cell-height;
	text-decoration: none;
}
.#{$datepicker} .Header {
	height: $datepicker-header;
	
	.Control {
		display:inline-block;
		text-decoration: none;
	}
}

//control
.#{$datepicker} .PrevYear, 
.#{$datepicker} .PrevMonth {
	display: inline-block;
	float: left;
	width: $datepicker-control-width;
	height: $datepicker-control-height;
	padding: 0;
}
.#{$datepicker} .PrevYear .Control, 
.#{$datepicker} .PrevMonth .Control {
	width: $datepicker-control-width;
	height: $datepicker-control-height;
}
.#{$datepicker} .NextYear, 
.#{$datepicker} .NextMonth {
	display: inline-block;
	float: right;
	padding: 0;
	width: $datepicker-control-width;
	height: $datepicker-control-height;
}
.#{$datepicker} .NextYear .Control, 
.#{$datepicker} .NextMonth .Control {
	width: $datepicker-control-width;
	height: $datepicker-control-height;
}
.#{$datepicker} .PrevYear .Control, 
.#{$datepicker} .PrevMonth .Control {
	background: url($component-image) no-repeat $datepicker-prev-pos;
}
.#{$datepicker} .PrevYear .Control:hover, 
.#{$datepicker} .PrevMonth .Control:hover {
	background: url($component-image) no-repeat $datepicker-prev-hover-pos;
}
.#{$datepicker} .PrevYear .Control:active, 
.#{$datepicker} .PrevMonth .Control:active {
	background: url($component-image) no-repeat $datepicker-prev-active-pos;
}

//.#{$datepicker} .PrevYear .Control.Disabled, 
//.#{$datepicker} .PrevMonth .Control.Disabled {
//	cursor: default;
//	background: url($component-image) no-repeat -48px -129px;
//}

.#{$datepicker} .NextYear .Control, 
.#{$datepicker} .NextMonth .Control {
	background: url($component-image) no-repeat $datepicker-next-pos;
}
.#{$datepicker} .NextYear .Control:hover, 
.#{$datepicker} .NextMonth .Control:hover {
	background: url($component-image) no-repeat $datepicker-next-hover-pos;
}
.#{$datepicker} .NextYear .Control:active, 
.#{$datepicker} .NextMonth .Control:active {
	background: url($component-image) no-repeat $datepicker-next-active-pos;
}
//.#{$datepicker} .NextYear .Control.Disabled, 
//.#{$datepicker} .NextMonth .Control.Disabled {
//	cursor: default;
//	background: url($component-image) no-repeat 0px -129px;
//}

.#{$datepicker} .BtnClose {
	position: absolute;
	top: 11px;
	right: 10px;
	width: $datepicker-control-width;
	height: $datepicker-control-height;
	
	.Control {
		display: block;
		width: $datepicker-control-width;
		height: $datepicker-control-height;
	}
}
.#{$datepicker} .BtnClose .Control {
	background: url($component-image) no-repeat $datepicker-close-pos;
	&:hover, &:active {
		background: url($component-image) no-repeat $datepicker-close-hover-pos;
	}
}

.#{$datepicker} .SubheaderYear {
	float: left;
	width: $datepicker-subheader;
	height: 100%;
	margin-right: $datepicker-subheader-gutter;
}
.#{$datepicker} .SubheaderYearWide {
	float: left;
	width: $datepicker-subheaderwide;
	height: 100%;
	text-align: center;
}
.#{$datepicker} .SubheaderMonth {
	float: left;
	width: $datepicker-subheadermonth;
	height: 100%;
	text-align: center;
}
.#{$datepicker}.Inline {
	.SubheaderYearWide {
		float: left;
		width: 100%;
		height: 100%;
	}
	.SubheaderYear, & .SubheaderMonth {
		width: $datepicker-inline-subheadermonth;
	}
}

.#{$datepicker} .CurrentYear {
	display:inline-block;
	padding: $datepicker-current-padding;
	text-align: center;
	line-height: $datepicker-lineheight;
	font-size: $font-size-base;
	font-weight: bold;
}
.#{$datepicker} .CurrentMonth {
	display:inline-block;
	line-height: $datepicker-lineheight;
	font-size: $font-size-base;
	font-weight: bold;
}
.#{$datepicker} .CurrentYearSelect, 
.#{$datepicker} .CurrentMonthSelect {
	display:inline-block;
	margin-right: 3px;
	margin-left: 3px;
	font-size: $font-size-base;
}
.#{$datepicker}.Inline .CurrentYearSelect, 
.#{$datepicker}.Inline .CurrentMonthSelect {
	width: $datepicker-inline-currentselect;
}
.#{$datepicker}.Inline .CurrentYear, 
.#{$datepicker}.Inline .CurrentMonth {
	width: $datepicker-inline-current;
}
.#{$datepicker} .CurrentYearSelect, 
.#{$datepicker} .CurrentMonthSelect {
	/* none */
}

//Calendar table
.#{$datepicker} table {
	border-collapse: collapse;
	width: 100%;
	padding: 0;
}
.#{$datepicker} thead th {
	height:26px;
	background: $datepicker-thead-thbg;
	border: $datepicker-thead-style;
	border-left:0;
	font-size: $font-size-base;
}
.#{$datepicker} thead th:first-child {
	border-left: $datepicker-thead-style;
}

.#{$datepicker} .Cell {
	width: $datepicker-cell-width;
	height: $datepicker-cell-height;
	padding: 0;
	text-align: center;
	border: $datepicker-border-style;
}

.#{$datepicker} .Day, 
.#{$datepicker} .PrevMonthDay, 
.#{$datepicker} .NextMonthDay {
	display: block;
}

.#{$datepicker} .Month {
	display: block;
}
.#{$datepicker} .Weekdays {
	width: $datepicker-cell-width;
	font-size: $font-size-base;
}
.#{$datepicker} .Bottom {
    display: block;
    width: 100%;
    height: $datepicker-cell-height; 
    
    .BottomButton {
    	margin: 5px;
    }
    
    .BottomText {vertical-align:middle;}
}
.#{$datepicker} .ChildBottom {

}

.#{$datepicker} .Day, 
.#{$datepicker} .Month {
	color: $datepicker-font-color;
	background: $datepicker-bg;
}

.#{$datepicker} .Day {
	&.Holiday {
		background: $datepicker-holiday-bg;
	}
	&.Sat {
	  /* none */
	}
	&.Disabled {
		cursor: default;
		color: $datepicker-disabled;
	}
}

.#{$datepicker} .Day:hover,
.#{$datepicker} .Month:hover {
	font-weight: bold;
	color: $datepicker-font-active;
	background: $datepicker-day-hoverbg;
}

.#{$datepicker} .Day:active, 
.#{$datepicker} .Month:active {
	background: $datepicker-day-hoverbg;
}

.#{$datepicker} .Today {
	color: $datepicker-font-active;
	background: $datepicker-today-bg;
}

.#{$datepicker} .Weekdays, 
.#{$datepicker} .Weekdays.Holiday, 
.#{$datepicker} .Weekdays.Sat{
	/* none */
}

.#{$datepicker} .PrevMonthDay, 
.#{$datepicker} .NextMonthDay {
	color: $datepicker-monthday-color;
	background: $datepicker-monthday-bg;
}
.#{$datepicker} .PrevMonthDay.Disabled, 
.#{$datepicker} .NextMonthDay.Disabled {
	color: $datepicker-monthday-disabled-color;
	cursor: default; 
}
.#{$datepicker} .PrevMonthDay:hover, 
.#{$datepicker} .NextMonthDay:hover {
    color: $datepicker-monthday-color;
	background: $datepicker-monthday-hover-bg;
}
.#{$datepicker} .PrevMonthDay:active, 
.#{$datepicker} .NextMonthDay:active {
    color: #ffffff;
	background: $datepicker-monthday-active-bg;
}
.#{$datepicker} .Bottom {
    background: #ffffff;
    border-color: $datepicker-bottom-bg;  
    .BottomButton {
    	width: $datepicker-bottom-btnwidth;
    }
    .BottomText {
    	color: $datepicker-bottom-color;
    }
}
.#{$datepicker} tr a:hover, 
.#{$datepicker}.Weekly tr:hover a {
	color: $datepicker-font-color;
	background: $datepicker-weekly-tr-hover;
}
.#{$datepicker} tr a:active, 
.#{$datepicker}.Weekly tr:active a {
	color: #ffffff;
	background-color: $datepicker-weekly-tr-active;
}