$accordion: Accordion;
$button: Button;
$carousel: Carousel;
$checkbox: Checkbox;
$dateinput: Dateinput;
$datepicker: Datepicker;
$daterange: Daterange;
$dialog: Dialog;
$divselect: Divselect;
$dropdown: Dropdown;
$dropdownbutton: Dropdownbutton;
$group: Group;
$groupbutton: Groupbutton;
$icon: Icon;
$list: List;
$navigationbar: Navigationbar;
$navmenu: Navmenu;
$paging: Paging;
$panel: Panel;
$progressbar: Progressbar;
$radio: Radio;
$searchinput: Searchinput;
$select: Select;
$slider: Slider;
$spinner: Spinner;
$switch: Switch;
$table: Table;
$tabs: Tabs;
$textarea: Textarea;
$textinput: Textinput;
$togglebutton: ToggleButton;
$tooltip: Tooltip;
$tree: Tree;

//new component
$label: Label;
$quotation: Quotation;
$cite: Cite;
$mark: Mark;
$small: Small;
$del: Del;
$strong: Strong;
$alink: Alink;
$code: Code;
$splitter: Splitter;
$hierarchical: Hierarchical;
$multiselect: MultiSelect;
$autocomplete: Autocomplete;

//css-version 확인을 위한 css입니다.
.Css-version {
	/* css version 확인을 위한 css입니다. 삭제하거나 변경하지 마세요. */
}

.#{$accordion}, .#{$accordion} *, 
.#{$button}, .#{$button} *,
.#{$carousel}, .#{$carousel} *,
.#{$checkbox}, .#{$checkbox} *,
.#{$dateinput}, .#{$dateinput} *,
.#{$datepicker}, .#{$datepicker} *,
.#{$daterange}, .#{$daterange} *,
.#{$dialog}, .#{$dialog} *,
.#{$divselect}, .#{$divselect} *,
.#{$dropdown}, .#{$dropdown} *,
.#{$dropdownbutton}, .#{$dropdownbutton} *,
.#{$group}, .#{$group} *,
.#{$groupbutton}, .#{$groupbutton} *,
.#{$icon}, .#{$icon} *,
.#{$list}, .#{$list} *,
.#{$navigationbar}, .#{$navigationbar} *,
.#{$navmenu}, .#{$navmenu} *,
.#{$paging}, .#{$paging} *,
.#{$panel}, .#{$panel} *,
.#{$progressbar}, .#{$progressbar} *,
.#{$radio}, .#{$radio} *,
.#{$searchinput}, .#{$searchinput} *,
.#{$select}, .#{$select} *,
.#{$slider}, .#{$slider} *,
.#{$spinner}, .#{$spinner} *,
.#{$switch}, .#{$switch} *,
.#{$table}, .#{$table} *,
.#{$tabs}, .#{$tabs} *,
.#{$textarea}, .#{$textarea} *,
.#{$textinput}, .#{$textinput} *,
.#{$tooltip}, .#{$tooltip} *,
.#{$tree}, .#{$tree} *, 
.#{$label}, .#{$label} *,
.#{$quotation}, .#{$quotation} *,
.#{$cite}, .#{$cite} *,
.#{$mark}, .#{$mark} *,
.#{$code}, .#{$code} *,
.#{$small}, .#{$small} *,
.#{$strong}, .#{$strong} *,
.#{$del}, .#{$del} *,
.#{$alink}, .#{$alink} *,
.#{$splitter}, .#{$splitter} *,
.#{$hierarchical}, .#{$hierarchical} * ,
.#{$multiselect}, .#{$multiselect} *,
.#{$autocomplete}, .#{$autocomplete} * {
	box-sizing: border-box;
	font-family: Arial, "돋움", "돋움체", dotum, sans-serif;
}