/********* button *********/

.af-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	overflow: visible;
	text-align: center;
	margin: 5px 5px;
	padding: 0px 20px 0px 20px;
	vertical-align: middle;
	line-height: 33px;
	min-height:35px;
	text-decoration: none;
	*zoom:1; /* for IE7 */
	*display:inline; /* for IE7 */
	
	border-width: 1px;
	border-style: solid;
}